<%- include('header'); -%>

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
      <div class="container">

        

      </div>
    </section><!-- End Breadcrumbs -->

  <!-- ======= Get Started Section ======= -->
  <section id="get-started" class="padd-section text-center">

    <div class="container" data-aos="fade-up">
      <div class="section-title text-center">

        <h2>네오집스의 목표</h2>
        <h3 class="main-blue h3-small">정확한 정보 공유, 올바른 투자 문화</h3>
        <p class="separator">네오집스는 미국 부동산에 대해서 고객분들에게 전문가들의 Know-how 를 공유하여,
            투자하고자 하는 부동산에 정확한 정보를 가지고 투자하는 올바른 투자 문화를 만들고 싶습니다.
            전속 계약 된 부동산 전문 변호사 및 CPA를 통한 절세 방안, 투자 수익을 높일 수 있는 방법,
            한국-미국 간 자금거래, 국세청-IRS간 세금 보고 등 미국부동산에 특화된 전문가 그룹입니다.</p>
            <h3 class="main-blue h3-small">투자 이후 입차인과의 관계 유지</h3>
          <p class="separator">네오집스는 투자 이후 property Management Company를 통하여, 투자 후 임차인 관리,
            임차인과의 이슈에 대한 임대인의 대리인으로 이슈 해결을 해드리기 때문에
            편안한 투자가 유지 될 수 있도록 하고 있습니다.</p>
            <h3 class="main-blue h3-small">가치를 올리기 위한 지속적인 관리</h3>
         <p class="separator">네오집스는 보유중인 부동산의 향후 좋은 가격으로 매매가 될 수 있도록 지속적인 관리를 위하여 연간 1회 무료 청소, 집 점검 (Inspection) 서비스 후 집의 상태를 보고서로 작성하여
            투자하신 부동산의 가치가 올라 갈 수 있도록 노력하고 있습니다.</p>
            <h3 class="main-blue h3-small">고객을 위하는 '미국 부동산의 미래' 네오집스</h3>
         <p class="separator">네오집스는 쉽게 투자하고, 쉽게 관리되고, 쉽게 재투자가 될 수 있는 프로세스 구축으로
            '한국-미국' 을 부동산으로 이어주는 징검다리가 되겠습니다.</p>
         

      </div>
    </div>

    <div class="container">
      
    </div>

  </section><!-- End Get Started Section -->

  </main><!-- End #main -->

<%- include('footer'); -%>
