<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>네오집스</title>
  <meta name="keywords" content="advanced search, agency, agent, business, clean, corporate, directory, google maps, homes, idx agent, listing properties, membership packages, property, real broker, real estate, real estate agent, real estate agency, realtor">
  <meta name="description" content="투자부터 관리까지 네오집스가 함께 합니다.">
  <meta name="네오집스 | Neozips" content="ATFN">
  <meta property="og:image" content="/img/bg-image.png">
  <meta property="og:image:width" content="1280">
  <meta property="og:image:height" content="720">
  <meta property="og:image:type" content="image/png">

  <!-- Favicons -->
  <link href="/img/favicon.ico" rel="icon">
  <link href="/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Roboto:100,300,400,500,700|Philosopher:400,400i,700,700i" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Nunito&display=swap" rel="stylesheet">


  <!-- Vendor CSS Files -->
  <link href="/vendor/aos/aos.css" rel="stylesheet">
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="/css/style.css" rel="stylesheet">

  <!-- Start WOWSlider.com HEAD section -->
<link rel="stylesheet" type="text/css" href="/public/engine1/style.css" />
<script type="text/javascript" src="/public/engine1/jquery.js"></script>
<!-- End WOWSlider.com HEAD section -->
  

</head>

<!-- ======================================================== -->

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <div id="logo">
        <h1><a href="/"><span><img src="/img/neozips-blue.png"></span> 네오집스</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" title="" /></a>-->
      </div>

      <nav id="navbar" class="navbar">
        <ul>
        
            <li> <a class="nav-link" href="intro" >회사소개</a> </li>
            <li> <a class="nav-link" href="goal">회사목표</a> </li>
            <li> <a class="nav-link" href="services">네오집스 서비스</a></li>
              
          <li class="dropdown"><a href="#"><span>문의하기</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              
              <li><a href="https://open.kakao.com/o/swms9Bud">카카오톡 문의</a></li>
           
            </ul>
          </li>
          <li><a class="nav-link scrollto" href="#"></a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->