<%- include('header'); -%>

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
      <div class="container">

        

      </div>
    </section><!-- End Breadcrumbs -->

  <!-- ======= Get Started Section ======= -->
  <section id="get-started" class="padd-section text-center">

    <div class="container" data-aos="fade-up">
      <div class="section-title text-center">

        <h2>회사소개</h2>
        <p class="separator"><span class="main-blue">네오집스</span>  는 은행 및 증권사  VVIP 전담 컨설팅 전문가 그룹으로 구성이 되어 있습니다</p>
          <p class="separator"><span class="main-blue">네오집스</span>  는 고객 상담 후 상담 내용 및 리스트를 정리하여 카카오톡 혹은 이메일로 보내드립니다</p>
         <p class="separator"><span class="main-blue">네오집스</span>  는 미국 부동산 계약서를 업계 최초로 한국어로 지원합니다</p>
         <p class="separator"><span class="main-blue">네오집스</span>  는 년간 1회 Deep Cleaning 서비스, Inspection Report(집점검 보고서)를 통한 특별관리 시스템을 도입하였습니다</p>
         <p class="separator"><span class="main-blue">네오집스</span>  는 Property management company 서비스 제공으로 부동산의 가치를 올리고자 노력합니다</p>
          <p class="separator"><span class="main-blue">네오집스</span>  는 부동산 전문 변호사, CPA와 함께 하여 새롭게 변화되는 부동산 법과 세금 뉴스를 제공합니다</p>

      </div>
    </div>

    <div class="container">
      
    </div>

  </section><!-- End Get Started Section -->


  

  </main><!-- End #main -->


<%- include('footer'); -%>
