<%- include('header'); -%>

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
      <div class="container">

        

      </div>
    </section><!-- End Breadcrumbs -->

  <!-- ======= Get Started Section ======= -->
  <section id="get-started-2" class="padd-section text-center">

    <div class="container" data-aos="fade-up">
      <div class="section-title text-center">

        <h2>네오집스만의 특별 서비스</h2>
        <p class="separator"><span class="main-blue">Big Data</span> 기반 <span class="main-blue">개인 맞춤형</span> 부동산 추천</p>
        <p class="separator">관심지역 등록 시 Daily/Weekly/Monthly <span class="main-blue">실시간 데이터</span> 제공</p>
        <p class="separator">미국 부동산 <span class="main-blue">전문가</span>로 구성된 <span class="main-blue">세금, 법률 상담</span> 지원</p>
        <p class="separator">주택 매매 시 <span class="main-blue">한국어 번역 계약서</span> 지원</p>
        <p class="separator"><span class="main-blue">모바일 앱</span>을 통한 전문 <span class="main-blue">부동산 관리</span> 시스템</p>
        <p class="separator">무료 <span class="main-blue">부동산 점검</span> (Inspection Report)</p>
        <p class="separator">무료 <span class="main-blue">딥 클리닝</span> (Deep Cleaning)</p>  
      </div>
    </div>

    <div class="container">
      
    </div>

  </section><!-- End Get Started Section -->

  </main><!-- End #main -->

<%- include('footer'); -%>
